*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
}

.logo img{
    height: 150px;
    width: 150px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.header li:hover{
    color: #663d06;
}

.banner{
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 2s ease;
}

.banner .glass-wrapper{
    width: 30%;
    height: 100%;
    background: rgba(37, 37, 37, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero-part{
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 13rem;
}

.hero-part p{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
}

.hero-part .shop-name{
    font-size: 85px;
    letter-spacing: 3px;
}

.hero-part .details{
    width: 60%;
    padding-top: 1.7rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}

.hero-part .explore button{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: none;
    color: #fff;
    padding: 12px 50px;
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.hero-part .explore button:hover{
    background-color: #fff;
    color: #000;
}

.cafe-gallery{
    bottom: 25px;
    position: absolute;
    left: 40rem;
}

.cafe-gallery ul{
    display: flex;
    gap: 20px;
    list-style: none;
    width: 65vw;
    height: 10rem;
    align-items: center;
}

.cafe-gallery .thumbnail{
    display: flex;
    height: 10rem;
    width: 20rem;
    background-size: cover;
    border-radius: 8px;
    flex-direction: column;
}

.cafe-gallery .thumbnail .offers{
    margin-top: auto;
    padding: 10px 0px;
    color: #fff;
    background: rgba(182, 178, 178, 0.25);
    box-shadow: 0 8px 32px 0 rgba(212, 212, 212, 0.37);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 4px );
}

.offers .offer{
    font-weight: 300;
    padding: 2px 5px;
}

.offers .exp{
    padding: 2px 5px;
    font-size: 24px;
    font-weight: 600;
}

.cafe-gallery .active{
    margin-top: -5rem;
}